{% if showSocial %}
<div class="social-icons">
    {% if social.instagram %}
    <a href="{{ social.instagram }}" aria-label="Instagram"><i class="fa-brands fa-instagram fa-xl"></i></a>
    {% endif %}
    {% if social.youtube %}
    <a href="{{ social.youtube }}" aria-label="YouTube"><i class="fa-brands fa-youtube fa-xl"></i></a>
    {% endif %}
    {% if social.facebook %}
    <a href="{{ social.facebook }}" aria-label="Facebook"><i class="fa-brands fa-facebook fa-xl"></i></a>
    {% endif %}
    {% if social.tiktok %}
    <a href="{{ social.tiktok }}" aria-label="TikTok"><i class="fa-brands fa-tiktok fa-xl"></i></a>
    {% endif %}
    {% if social.linkedin %}
    <a href="{{ social.linkedin }}" aria-label="LinkedIn"><i class="fa-brands fa-linkedin fa-xl"></i></a>
    {% endif %}
    {% if social.email %}
    <a href="mailto:{{ social.email }}" aria-label="E-Mail"><i class="fa-solid fa-envelope fa-xl"></i></a>
    {% endif %}
</div>
{% endif %}